*{
  font-family: 'Oswald', sans-serif;
}
body{
  background-color: #f1f2f6;
}
.headersecondaire{
  background-color: #686de0;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}
.headersecondaire a{
  text-decoration: none;
  color: black;
  padding: 5px 5px;
}
.headersecondaire ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.headersecondaire li{
  padding-right: 25px;
}
.enjeu{
  font-size: 18px;
  color: White;
}
.boutique{
  font-size: 25px;
}
.boutiquespan{
  color : #f0932b;
}
.minijeux{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  background: url(https://i.ytimg.com/vi/LK-n-ddoczc/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 100px;
  margin: 100px 100px;
}
.flip-container {
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 100%;
	height: 500px;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}
.front {
  z-index: 2;
	transform: rotateY(0deg);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-size: 20px;

}
.back {
	transform: rotateY(180deg);
  background: linear-gradient(180deg,#95afc0,#535c68);
  border-radius: 5px;
}

.boosts{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  background: url(https://i.ytimg.com/vi/LK-n-ddoczc/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 100px;
  margin: 100px 100px;
}
.flip-container1 {
}
.flip-container1:hover .flipper1, .flip-container1.hover1 .flipper1 {
		transform: rotateY(180deg);
}
.flip-container1, .front1, .back1 {
	width: 100%;
	height: 500px;
}
.flipper1 {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front1, .back1 {
	backface-visibility: hidden;
	position: absolute;
}
.front1 {
  z-index: 2;
	transform: rotateY(0deg);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-size: 20px;

}
.back1 {
	transform: rotateY(180deg);
  background: linear-gradient(180deg,#95afc0,#535c68);
  border-radius: 5px;
}
.guerrier{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.duc{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.seigneur{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.empereur{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.grade{
  padding-left: 10px;
}

.grade h1{
  color: #5f27cd;
}
.grade i{
  color: #2e86de;
}

.border{
  border: 1px solid White;
}

.gradebooster{
  text-decoration: #222f3e underline;
}
.rubriquecrédit{
  background-color: gray;
  border-radius: 5px;
  margin-top: 75px;
  padding-left: 10px;
  font-size: 25px;
}
.rubriquecrédit p{
  margin-bottom: 0px;
}
.creditation{
  margin-top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.credit h1{
  display: flex;
  justify-content: center;
}
.credit h2{
  display: flex;
  justify-content: center;
}
.credit p{
  display: flex;
  justify-content: center;
}
.credit a{
  text-decoration: none;
}

.buttoncredit{
  background-color: #ffbe76;
  color: White;
  font-size: 15px;
  margin-left: 20px;
  padding: 5px 5px;
  border-radius: 5px;
  border-color: #ff6348;
  margin-bottom: 50px;
  margin-top: 50px;
}
.buttoncredit:hover{
  background-color: #7ed6df;
  color: White;
  font-size: 15px;
  margin-left: 20px;
  padding: 5px 5px;
  border-radius: 5px;
  border-color: #be2edd;
}
.condition{
  padding: 10px 10px;
  padding-bottom: 10px;
  border: 2px solid red;
  border-radius: 5px;
}
.condition h3{
  display: flex;
  justify-content: center;
}
.namename{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.vip{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.vipplus{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.divi{
  border-radius: 25px;
  width: 400px;
  height: 400px;
}
.grades{
  display: flex;
  justify-content: space-around;
}
.boostt h2{
  color: #4834d4;
}
.faction h2{
  color: #4834d4;
}
.imagegrade{
  width: 110px;
  height: 110px;
  border-radius: 100px;
}
.imageplace{
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.contenaire{
  display: flex;
  justify-content: space-around;
}
.pvp_faction{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  background: url(https://i.ytimg.com/vi/slNrnKOgTMo/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  margin: 100px 100px;
  border-radius: 5px;
}

.flip-container4 {
}
	.flip-container4:hover .flipper4, .flip-container3.hover4 .flipper4 {
		transform: rotateY(180deg);
	}
.flip-container4, .front4, .back4 {
	width: 100%;
  height: 500px;
}
.flipper4 {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  display: flex;
  justify-content: space-around;
}
.front4, .back4 {
	backface-visibility: hidden;
	position: absolute;
}
.front4 {
	z-index: 2;
	transform: rotateY(0deg);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-size: 20px;
}
.back4 {
	transform: rotateY(180deg);
  background: linear-gradient(180deg,#95afc0,#535c68);
  border-radius: 5px;
}
span{
  color: #ff4757;
}
.span{
  color:#ffbe76;
}
.button{
  background-color: #ff7f50;
  color: White;
  font-size: 15px;
  margin-left: 20px;
  padding: 10px 10px;
  border-radius: 25px;
  border-color: #ff6348;
}
.button:hover{
  background-color: #e056fd;
  color: White;
  font-size: 15px;
  margin-left: 20px;
  padding: 10px 10px;
  border-radius: 25px;
  border-color: #be2edd;
}
#logo3{
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 200px;
    z-index: 10;
    animation: OK 3s infinite;
    display: flex;
    transition: 2s;
    overflow: visible;
    justify-content: center;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: -140px;
    margin-top: -25px;
}
@keyframes OK{
    0%{
        transform: rotate(0deg);
        }
    50%{
        transform: rotate(10deg);
        }
    100%{
        transform: rotate(0deg);
        }
}
#logo2{
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 200px;
    z-index: 10;
    animation: OK2 3s infinite;
    display: flex;
    transition: 2s;
    overflow: visible;
    justify-content: center;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: -140px;
    margin-top: -25px;
}
@keyframes OK2{
    0%{
        transform: rotate(0deg);
        }
    50%{
        transform: rotate(-10deg);
        }
    100%{
        transform: rotate(0deg);
        }
}
